<h1>Display your team here</h1>
<%= params[:team][:name] %>
<%=params[:team][:motto] %>



<h2>Display your first superhero</h2>
<%=params[:team][:member][0][:name] %>
<%=params[:team][:member][0][:power] %>
<%=params[:team][:member][0][:bio] %>


<h2>Display your second superhero</h2>
<%=params[:team][:member][1][:name] %>
<%=params[:team][:member][1][:power] %>
<%=params[:team][:member][1][:bio] %>


<h2>Display your third superhero</h2>
<%=params[:team][:member][2][:name] %>
<%=params[:team][:member][2][:power] %>
<%=params[:team][:member][2][:bio] %>
